<img src="Peru_919.jpg" style="margin-left: 10px" />
<div class="profile">
<h1>Eric Thueson </h1>
<a href="http://www.linkedin.com/in/ethuey">LinkedIN</a>
<h2>ERP Implemenation Project Manager </h2>
<p>I want to learn to code because I have web business ideas I want to create. I want to learn Python. </p>
<a href="read_more">Read More</a>
</div>
<h1> Send me a text message...</h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
</form>    