<h1>I'm still alive! </h1>

<img src="http://www.wired.com/images_blogs/autopia/2009/09/ferrari_458_02.jpg" />
<h1>Eric Thueson </h1>
<a href="www.linkedin.com/in/ethuey">LinkedIN</a>
<h2>ERP Implemenation Project Manager </h2>
<p>I want to learn to code because I have web business idea i want to create. I want to learn Python. </p>
<a href="http://et-cloud-115856.usw1-2.nitrousbox.com:4000/read_more">Read More</a>

   